/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
@font-face {
    font-family: HeiseiKaku;
    src: url("../../assets/fonts/HeiseiKakuGoStd-W5.otf");
}
@font-face {
    font-family: FuturalRound Bold;
    src: url("../../assets/fonts/FuturaRoundBold.ttf");
}

.c-mainvisual {
    position: relative;

    .c-mainvisual__bg {
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .slick-slider {
        height: 956px;
        overflow-y: hidden;
    }

    .slick-list {
        height: 100%;
    }

    .slick-track {
        height: 100%;
    }

    .c-mainvisual__first {
        background-image: url("../../assets/img/mv1.jpg");
        @include sp {
        }
    }

    .c-mainvisual__second {
        background-image: url("../../assets/img/mv2.jpg");
        @include sp {
        }
    }

    .c-mainvisual__third {
        background-image: url("../../assets/img/mv3.jpg");
        @include sp {
        }
    }

    .c-mainvisual__fourth {
        background-image: url("../../assets/img/mv4.jpg");
        @include sp {
        }
    }

    .c-mainvisual__content {
        position: absolute;
        left: 50%;
        top: 46.8%;
        transform: translate(-50%, -50%);
    }

    .c-mainvisual__mgroup {
        margin-bottom: 51px;
        position: relative;
    }

    .c-mainvisual__cloud {
        position: absolute;
    }

    .c-mainvisual__cloud1 {
        top: 11px;
        left: 23.4%;
        transition: 1s;
        animation: flying 5s ease-in-out forwards infinite;
        animation-delay: 1s;
    }

    .c-mainvisual__cloud2 {
        top: 36%;
        right: 15.2%;
        animation: flying 5s ease-in-out forwards infinite;
        animation-delay: 1.5s;
    }

    .c-mainvisual__cloud3--right {
        top: 20px;
        right: 31.4%;
        animation: flying 5s ease-in-out forwards infinite;
        animation-delay: 2s;
    }

    .c-mainvisual__cloud3--left {
        top: 45%;
        left: 20%;
        animation: flying 5s ease-in-out forwards infinite;
        animation-delay: 2.5s;
    }

    .c-mainvisual__cloud4 {
        bottom: 15%;
        left: 15.2%;
        animation: flying 5s ease-in-out forwards infinite;
        animation-delay: 3s;
    }

    .c-mainvisual__title {
        color: #fff;
        font-feature-settings: "palt" 1;
        padding-left: 54px;
    }

    .c-mainvisual__small {
        font-family: HeiseiKaku, sans-serif;
        font-weight: 500;
        font-size: 3rem;
        letter-spacing: 21px;
    }

    .c-mainvisual__mountain {
        text-align: center;
    }

    .c-mainvisual__big {
        font-family: FuturalRound Bold, sans-serif;
        font-weight: 700;
        font-size: 5rem;
        letter-spacing: 58px;
        line-height: 1.9;
    }

    .c-mainvisual__bigbot {
        letter-spacing: 35px;
        line-height: 1.75;
    }

    .c-mainvisual__info {
        position: absolute;
    }
    @keyframes flying {
        0% {
            transform: translateX();
            opacity: 0.2;
        }

        50% {
            opacity: 1;
        }

        75% {
            transform: translateX(10px);
            opacity: 0;
        }

        100% {
            opacity: 0;
        }
    }
}
