/*------------------------------------------------------------
icon
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-arrow {
    font-size: 3rem;
    font-weight: bold;
    color: #111;
    font-family: $main-fonts;
}
