/*------------------------------------------------------------
img
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.c-title {
    font-size: 3rem;
    color: #212529;
    text-align: center;
    font-family: FuturalRound Book, sans-serif;
}

.c-subtitle {
    font-size: 1.4rem;
    text-align: center;
    color: #212529;
    font-family: HeiseiKakuW7, sans-serif;
}
