
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//db.onlinewebfonts.com/c/1d80218c5e2466e04b2f1bd4cfb0802e?family=FuturaRoundW01-Book" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <title>
      <%= (typeof title != "undefined" ? title : "Page title") %>
    </title>
    {{ meta }}
    <script type="module" src="/_scss/style.js"></script>
    {{ head }}
  </head>
  <body>

    <%- include('_partials/header'); -%>
    <main class="p-top">
      {{ content }}
    </main>
    <%- include('_partials/footer'); -%>

    {{ script }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./assets/js/main.js"></script>
  </body>
</html>
