<section class="c-about">
  <div class="c-about__aiming">
    <div class="c-about__aimleft"></div>
    <div class="c-about__aimingimg">
      <div class="c-about__box">
        <div class="c-about__text">
          <h3 class="c-about__title">
            灘区・東灘区の <br />地域活性化を目指して
          </h3>
          <p class="c-about__des">
            大和住宅は昭和32年創業以来、灘区・東灘区の街の価値を上げていくことを使命に、地域に根付いた管理業者としてご入居者様の生活やオーナー様の資産管理をサポートさせていただいております。
          </p>
        </div>
        <a href="#" class="c-button">大和住宅について</a>
      </div>
    </div>
  </div>
  <div class="c-about__consignment">
    <div class="l-container">
      <div class="c-about__consignmentimg">
        <div class="c-about__boxconsignment">
          <div class="c-about__text">
            <h3 class="c-about__title">委託管理について</h3>
            <p class="c-about__des c-about__consignmentdes">
              大和住宅の委託管理は、入居したら終わりではなく、その後のご入居者様のフォローにも重きを置き、質の高いサービスにこだわっています。
            </p>
          </div>
          <a href="#" class="c-button">詳しくみる</a>
        </div>
      </div>
      <div class="c-about__consignmentright"></div>
    </div>
  </div>
  <div class="c-about__property">
    <div class="l-container c-about__propertywrapper">
      <div class="c-about__propertyleft"></div>
      <div class="c-about__propertyimg">
        <div class="c-about__boxproperty">
          <div class="c-about__text">
            <h3 class="c-about__title">物件情報</h3>
            <p class="c-about__des c-about__propertydes">
                神戸大学生協との30年余のお付き合い。<br>
                長年培ってきた経験と実績で95%の満室率を維持しています。
            </p>
          </div>
          <a href="#" class="c-button">詳しくみる</a>
        </div>
      </div>
    </div>
  </div>
</section>
