<header class="c-header">
    <div class="c-header__main">
      <a href="index.html" class="c-header__logowrapper">
        <span class="c-header__logo c-header__logotop">兵庫県知事 (10) 8316号</span>
        <span class="c-header__logo c-header__logobottom">大和住宅株式会社</span>
      </a>
      <nav class="c-header__mainnav ">
        <ul class="c-header__navlinks">
          <% if (typeof linklists != 'undefined') { %>
            <% linklists.main && linklists.main.forEach(link => { %>
              <li class="c-header__navlink is-pc">
                <a <% if (link.current || link.active) { %>class="is-active"<% } %> href="<%= link.url %>"><%= link.title %></a>
                <% if (link.links) { %>
                  <ul>
                    <% link.links.forEach(child_link => { %>
                      <li>
                        <a <% if (child_link.current) { %>class="is-active"<% } %> href="<%= child_link.url %>"><%= child_link.title %></a>
                      </li>
                    <% }) %>
                  </ul>
                <% } %>
              </li>
            <% }) %>
          <% } %>
          <li>
            <a href="#" class="c-header__menu">
              <img class="c-header__menuicon" src="./assets/img/menu_open.png" alt="大和住宅株式会社">
            </a>
          </li>
          <li>
            <a href="#" class="c-header__contact">
              <img src="./assets/img/contact.png" alt="大和住宅株式会社">
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="c-header__overlay">
      <div class="c-header__transparent">

      </div>
      <div class="c-header__overlaymain">
        <div class="c-header__overlaylinks">
          <div class="c-header__linksleft">
            <ul class="c-header__links">
              <li class="c-header__link">
                <a href="#">
                  <p class="c-header__linktitle c-header__linktitleen">About us</p>
                  <p class="c-header__linktitle c-header__linktitlejp">大和住宅について</p>
                </a>
              </li>
              <li class="c-header__link">
                <a href="#">
                  <p class="c-header__linktitle c-header__linktitleen">Consignment management</p>
                  <p class="c-header__linktitle c-header__linktitlejp">委託管理について</p>
                </a>
              </li>
              <li class="c-header__link">
                <a href="#">
                  <p class="c-header__linktitle c-header__linktitleen">Company</p>
                  <p class="c-header__linktitle c-header__linktitlejp">会社情報</p>
                </a>
              </li>
              <li class="c-header__link">
                <a href="#">
                  <p class="c-header__linktitle c-header__linktitleen">For sale & rent</p>
                  <p class="c-header__linktitle c-header__linktitlejp">物件情報</p>
                </a>
              </li>
              <li class="c-header__link">
                <a href="#">
                  <p class="c-header__linktitle c-header__linktitleen">FAQ</p>
                  <p class="c-header__linktitle c-header__linktitlejp">賃貸管理トラブル集</p>
                </a>
              </li>
            </ul>
          </div>
          <div class="c-header__linkright">
            <ul class="c-header__links">
              <li class="c-header__link">
                <a href="#">
                  <p class="c-header__linktitle c-header__linktitleen">Information</p>
                  <p class="c-header__linktitle c-header__linktitlejp">お知らせ</p>
                </a>
              </li>
              <li class="c-header__link">
                <a href="#">
                  <p class="c-header__linktitle c-header__linktitleen">Nada style</p>
                  <p class="c-header__linktitle c-header__linktitlejp">灘エリアのご紹介</p>
                </a>
              </li>
              <li class="c-header__link">
                <a href="#">
                  <p class="c-header__linktitle c-header__linktitleen">Colmun</p>
                  <p class="c-header__linktitle c-header__linktitlejp">コラム</p>
                </a>
              </li>
              <li class="c-header__link">
                <a href="#">
                  <p class="c-header__linktitle c-header__linktitleen">Contact</p>
                  <p class="c-header__linktitle c-header__linktitlejp">お問い合わせ</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="c-header__overlaysocials">
            <a href="#" target="_blank"> <img src="./assets/img/instagram.png" class="c-instagram" alt="大和住宅株式会社"></a>
            <a href="#" target="_blank" rel="noopener noreferrer"><img src="./assets/img/fb.png" class="c-header__facbook" alt="大和住宅株式会社"></a>
        </div>
      </div>
    </div>
</header>
