<header class="c-header">
    <div class="c-header__main">
      <a href="index.html" class="c-header__logowrapper">
        <span class="c-header__logo c-header__logotop">兵庫県知事 (10) 8316号</span>
        <span class="c-header__logo c-header__logobottom">大和住宅株式会社</span>
      </a>
      <nav class="c-header__mainnav">
        <ul class="c-header__navlinks">
          <% if (typeof linklists != 'undefined') { %>
            <% linklists.main && linklists.main.forEach(link => { %>
              <li class="c-header__navlink">
                <a <% if (link.current || link.active) { %>class="is-active"<% } %> href="<%= link.url %>"><%= link.title %></a>
                <% if (link.links) { %>
                  <ul>
                    <% link.links.forEach(child_link => { %>
                      <li>
                        <a <% if (child_link.current) { %>class="is-active"<% } %> href="<%= child_link.url %>"><%= child_link.title %></a>
                      </li>
                    <% }) %>
                  </ul>
                <% } %>
              </li>
            <% }) %>
          <% } %>
          <li>
            <a href="#" class="c-header__menu">
              <img src="./assets/img/menu.png" alt="大和住宅株式会社">
            </a>
          </li>
          <li>
            <a href="#" class="c-header__contact">
              <img src="./assets/img/contact.png" alt="大和住宅株式会社">
            </a>
          </li>
        </ul>
      </nav>
    </div>
</header>
