<section class="c-mainvisual">
    <div class="c-mainvisual__slides">
        <% if (typeof mainvisual != 'undefined') { %>
            <% mainvisual.slides && mainvisual.slides.forEach(slide => { %>
                <div class="c-mainvisual__bg <%= slide.class %>">
                    &nbsp;
                </div>
            <% }) %>
        <% } %>
    </div>
    <div class="c-mainvisual__content">
        <div class="c-mainvisual__mgroup">
            <div class="c-mainvisual__mountain">
                <img src="./assets/img/mountain.png" alt="住みたくなる街 NADA ROKKO">
            </div>
            <div class="c-mainvisual__clouds">
                <img class="c-mainvisual__cloud1 c-mainvisual__cloud" src="./assets/img/cloud1.png" alt="住みたくなる街 NADA ROKKO">
                <img class="c-mainvisual__cloud2 c-mainvisual__cloud" src="./assets/img/cloud2.png" alt="住みたくなる街 NADA ROKKO">
                <img class="c-mainvisual__cloud3--right c-mainvisual__cloud" src="./assets/img/cloud3.png" alt="住みたくなる街 NADA ROKKO">
                <img class="c-mainvisual__cloud3--left c-mainvisual__cloud" src="./assets/img/cloud3.png" alt="住みたくなる街 NADA ROKKO">
                <img class="c-mainvisual__cloud4 c-mainvisual__cloud" src="./assets/img/cloud4.png" alt="住みたくなる街 NADA ROKKO">
            </div>
        </div>
        <h1 class="c-mainvisual__title">
            <span class="c-mainvisual__small">住みたくなる街</span>
            <span class="c-mainvisual__big">NADA</span>
            <span class="c-mainvisual__big c-mainvisual__bigbot">ROKKO</span>
        </h1>
    </div>
    <div class="c-mainvisual__info">
        <a href="#" class="c-mainvisual__infobtn">
            Infomation <span class="c-arrow c-mainvisual__arrow">→</span>
        </a>
        <div class="c-mainvisual__infos">
            <ul class="c-mainvisual__items">
                <% if (typeof info != 'undefined') { %>
                    <% info.items && info.items.forEach(item => { %>
                        <li class="c-mainvisual__item">
                            <a href="#" class="c-mainvisual__infodate"><%= item.date %> </a>
                            <a href="#">
                                <h3 class="c-mainvisual__infotitle"><%= item.title %></h3>
                            </a>
                        </li>
                    <% }) %>
                <% } %>
               
            </ul>
        </div>
    </div>
</section>